main#site-content {
    padding-top: 56px;
}

img {
    width: auto;
    max-width: 100%;
}

.content {
    padding: 30px 0;
}

.content.library {
    padding: 30px;
}

.content.contact.container,
header#site-header .container {
    max-width: 768px;
    margin: auto;
}

.contact .form-floating > textarea.form-control {
    height: 200px;
}

.navbar-collapse {
    flex-grow: inherit;
}

@media (min-width: 992px) {
    .content {
        padding: 60px 0;
    }

    .content.library {
        padding: 30px;
    }
}

.categories .item {
    margin-bottom: 30px;
    text-align: center;
}

    .categories .item h4 {
        margin-top: 15px;
    }

.library .sticky-top {
    top: 30px;
}

.library .collection .row .col-6 {
    margin-bottom: 30px;
}

.library .collection .item code,
#selected-list .item code {
    display: none;
}

#selected-code-list .item code {
    display: block;
}

#selected-list .col-6 {
    width: 100%;
}